* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Stretch HTML and BODY */
html, body {
  width: 100%;
  height: 100%;
}

/* Add perspective to container */
body {
  perspective: 1600px;
    -moz-perspective: 1600px;
    -webkit-perspective: 1600px;
  font-family: Open sans, sans-serif;
}

/* Button for page turn */
button {
  position: fixed;
  top: 10px;
  right: 10px;
}
.main{
    overflow-y: auto;
    position: absolute;
}
.page {
  display: inline-block;
  position: fixed;
  z-index: 1; /* the content page should go behind the cover pages */
  
  /* Size & Position */
  left: 35%;
  width: 770px;
  margin-left: 15%; /* half of width */
  /*top: 50%;*/
  height: 100%;
  /*margin-top: -250px; /* half of height */
  
  /* Add some styling, so the pages are opaque */
  background-color: #eee;
  
  /* Hide backface of each page/side, so we don't see it when turned */
  backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  
  /* Set up animation */
  transition: transform 1.0s ease;
    -o-transition: transform 1.0s ease;
    -moz-transition: transform 1.0s ease;
    -webkit-transition: transform 1.0s ease;

  /* Hide content that overflows the page */
  overflow: hidden;
}

.page.odd {
  /* odd pages flip along left side, and with minus degree rotation */
  transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    
  /* Some styling */
  border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
  box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);
    -moz-box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);
    -webkit-box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}
.page.even {
  margin-left: -540px; /* 1,5 * width to position it left of odd pages */

  /* even pages flip along right side, and with positive degree rotation */
  transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
  transform: rotateY(180deg); /* even pages start rotated (closed book) */
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  
  /* Some styling */
  border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
  box-shadow: inset -15px 0px 15px -15px rgba(0,0,0, 0.3);
    -moz-box-shadow: inset -15px 0px 15px -15px rgba(0,0,0, 0.3);
    -webkit-box-shadow: inset -15px 0px 15px -15px rgba(0,0,0, 0.3);
}
.but{
    z-index: 100;
}
.page.odd.turn {
  transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}
.page.even.turn {
  transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

/* Put cover pages in front of content page */
#cover {
    background-image: url("fabric_plaid.png");
    background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: 100%;
background-size: cover;
  z-index: 3;
}
#cover_back {
  z-index: 2;
  padding: 10px 25px;
  position: fixed;
  float: left;
}

#content {
  /* Some styling */
  padding: 10px 25px;
 position: fixed;
 float: right;
}
